<%- include('partials/metadata'); -%> <%- include('partials/header'); -%>
<div class="body-edit">
  <h1 class="login-title">CREAR NUEVO ITEM</h1>
  <div class="container-edit" >
    <form class="form-edit" action="./create" method="POST" enctype="multipart/form-data" style="width: 40%;">
        <div>
            <label for="category_id">Categoría:
                <select name="category_id" id="category_id">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <option value="1">Figuras coleccionables</option>
                    <option value="2">Llaveros</option>
                    <option value="3">Remeras</option>
                </select>
            </label>
            <label for="licence_id">Licencia:
                <select name="licence_id" id="licence_id">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <option value="1">HARRY POTTER</option>
                    <option value="2" >POKEMON</option>
                    <option value="3">STAR WARS</option>
                </select>
            </label>
        </div>
        <div >
            <label for="product_name">Nombre del producto: </label>
            <input type="text" name="product_name" id="product_name">
        </div>
        <div>
            <textarea name="product_description" id="product_description" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
        </div>
        <div class="deta">
            <label for="sku">SKU: <input type="text" name="sku" style="width: 70%;" required> </label>
            
            <label for="price">Precio: $<input type="text" name="price" style="width: 50%; text-align: center;" required></label>

            <label for="stock">Stock: <input type="number" name="stock" min="0" style="width: 20%;" required></label>
        </div>
        <div >
            <label for="discount" style="width: 25%;" >Descuento: <input type="number"  min="0" max="100" step="5" name="discount" min="0" max="100" step="5" style="text-align: center; width: 25%;" required>%</label>
            <label for="">Cuotas:
                <select name="cuotas">
                    <option value="">Sin cuotas</option>
                    <option value="">3 Cuotas sin interés</option>
                    <option value="">6 Cuotas sin interés</option>
                </select></label</label>
        </div>
        <div>
            <label for="image_front">Imagenes:
                <input name="image_front" type="file" id="fileInput" accept="image/*,video/*" style="border: none;" multiple>
            </label>
        </div>
        <div class="btn-edit">
            <input type="submit" value="Agregar Producto">
            <input type="reset" value="Limpiar">
        </div>         
    </form>
  </div>
</div>

<%- include('partials/footer'); -%>
