<%- include('partials/metadata'); -%>
<%- include('partials/header'); -%>
<div class="body-login">
  <div class="login-container">
    <div>
      <h1 class="login-title"><b>INGRESAR A MI CUENTA</b></h1>
    </div>
    <div style="width: 100%;">
      <form class="form" action="" method="post">
        <label for=""
          >Email: <input type="email" placeholder="examplemail@email.com"
        /></label>
        <label for=""
          >Contraseña: <input type="password" placeholder="contraseña"
        /></label>
        <div class="btn-login">
            <button>Ingresar</button>
            <div class="checkbox">
                <input type="checkbox">Recordarme
            </div>            
        </div>
        <a href="" style="color:#6C86E5;">Olvidé mi contraseña</a>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
