<%- include('partials/metadata'); -%> <%- include('partials/header'); -%>
<div class="body-login">
  <div class="login-container">
    <div>
      <h1 class="register-title"><b>CREA TU CUENTA</b></h1>
      <p>Completa el formulario para ser parte del mundo de los Funkos</p>
    </div>
    <div style="width: 75%">
      <form class="form register" action="./register" method="post">
        <label for="name"
          >Nombre: <input type="name" name="name" placeholder="John" required
        /></label>
        <label for="lastname"
          >Apellido:
          <input type="lastname" name="lastname" placeholder="Doe" required
        /></label>
        <label for="email"
          >Email:
          <input
            type="email"
            name="email"
            placeholder="johndoe@correo.com"
            required
        /></label>
        <label for="password"
          >Contrase単a:
          <input
            type="password"
            name="password"
            placeholder="contrase単a"
            required
        /></label>
        <label for=""
          >Repita Contrase単a:
          <input
            type="password"
            name="confirmPassword"
            placeholder="contrase単a"
            required
        /></label>
        <div class="btn-login btn-edit" style="justify-content: space-between">
          <input type="submit" value="Registrar" ">
          <div
            class="checkbox"
            style="width: 90%; display: flex; justify-content: right"
          >
            <input type="checkbox" style="width: 10%" /> Acepto
            <a href="" style="color: #6c86e5; padding-left: 3%">
              Terminos y Condiciones</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
