:root {
   /* Palette */
   --primary-solid: #FF3333;
   --primary-900: rgba(255,51,51,0.9);
   --primary-500: rgba(255,51,51,0.5);
   --primary-300: rgba(255,51,51,0.3);


  --secondary-solid: #1D84B5;
  --secondary-900: rgb(29,132,181,0.9);
  --secondary-500: rgb(29,132,181,0.5);
  --secondary-300: rgb(29,132,181,0.3);

  --dark-solid: #1F1F1F;
  --dark-900: rgb(31,31,31,0.9);
  --dark-500: rgb(31,31,31,0.5);
  --dark-300: rgb(31,31,31,0.3);

  --dark-bg-solid: #30343F;
  --light-bg-solid: #FAFAFF;
  --light-font-solid: #FFFFFF;

  /*Typography*/
  --base-font: 'Inter', sans-serif;
  --alternative-font: 'Raleway', sans-serif;

  /*Font-sizes*/
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xmall: 1.2em;

  /* Spacings*/ 
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-20: 2.0rem;
  --spacing-24: 2.4rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}
*::before
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
 }
html {
   font-family: var(--base-font);
   font-size: 62.5%;
   color: var(--dark-solid);
}

a { 
   text-decoration: none;
   font-family: inherit;
   color: inherit;
}

header,
footer {
   font-family: var(--alternative-font);
   color: var(--light-font-solid);
}
ul, ol {
    list-style-type: none;

}

p {
   font-size: 1.8em;
}

img {
   width: 100%;
}

select, .input-bord{
   height:25px;
   border-radius: 5px;
   border: 2px solid black
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

/*HEADER*/

header {
   background-color: var(--dark-bg-solid);
   padding: var(--spacing-24) var(--spacing-68) var(--spacing-24) var(--spacing-68);
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:100%;
}

.navbar__logo {
   max-width: 300px;
}

.navbar__menu {
   display: flex;
   align-items: center;
   gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
   background-color: var(--primary-900);
}

.with-icon {
   display: flex;
   align-items: center;
   gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
   display: block;
}

.submenu {
   display: none;
   width: 300px;
   position: absolute;
   background-color: var(--dark-bg-solid);
   z-index: 3;
}

.submenu__link{
   display: block;
   padding: var(--spacing-8) var(--spacing-16);
   font-size: var(--font-medium);
   transition: background .3s ease-in-out;
}

.submenu__link:hover {
   background-color: var(--primary-900);
}

.iconoShop{
   color:white
}

/*HERO*/ 

.hero{
   background-image: url(../img/funkos-banner.webp);
   padding: var(--spacing-128);
   background-position: top;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}

.hero::before {
   content: '';
   background-color: rgba(0,0,0,0);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-20);
   align-items: start;
   z-index: 2;
   position: relative;
}

.hero__title {
   font-family: var(--alternative-font);
   font-size: var(--font-jumbo);
   color:var(--light-font-solid);
}

.hero__text {
   font-family: var(--alternative-font);
   color: var(--light-font-solid);
   font-size: var(--font-medium);
}

.hero__link {
   display: inline block;
   font-size: var(--font-medium);
   background-color: var(--light-bg-solid);
   padding: var(--spacing-12) var(--spacing-68);
   border-radius: 50px;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.hero__link:hover {
   background-color: var(--primary-900);
   color:var(--light-font-solid);
}

/*COLLECTIONS*/

.collection {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
   order: -1;
}


.collection__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-24);
   align-items: start;
}

.collection__title {
   font-family: var(--alternative-font);
   font-size: var(--font-display);
   font-weight: 500;
}

.collection__text {
   font-family: var(--alternative-font);
   font-size: var(--font-large);
   font-weight: 300;
   border-bottom: 2px solid var(--primary-solid);
   padding-bottom: var(--spacing-20);
}

.collection__link {
   display: inline-block;
   font-size: var(--font-medium);
   background-color: var(--dark-bg-solid);
   color: var(--light-font-solid);
   padding: var(--spacing-16) var(--spacing-36);
   border-radius: 50px;
   font-weight: 500;
   transition: background .3s ease-in-out;
}

.collection__link:hover {
   background-color: var(--primary-900);
}

/*SLIDER*/

.slider {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-36);
   margin: var(--spacing-68) auto;
}

.slider__title {
   font-family: var(--alternative-font);
   font-size: var(--font-display);
   text-transform: uppercase;
}

iconify-icon {
   color: var(--dark-bg-solid);
   font-size: var(--font-small);
   font-weight: 700;
}

.glide__arrow--left {
   left: 0;
}

.glide__arrow--right {
   right:0;
}

.card-item__cover {
   display: flex;
   position: relative;
}

.card-item__tag {
   font-size: var(--font-xmall);
   text-transform: uppercase;
   background-color: var(--primary-solid);
   color: var(--light-font-solid);
   padding: var(--spacing-8) var(--spacing-12);
   position: absolute;
   right: 0;
}

.card-item__cover img{
   animation: fade .7s;
}

.card-item__img--back {
   display: none;
}

.card-item__cover:hover .card-item__img--back {
   display: block;
}

.card-item__cover:hover .card-item__img--front {
   display: none;
}

.card-item__content {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-12);
   padding: var(--spacing-16);
}

.card-item__licence {
   font-size: var(--font-xmall);
   font-weight: 500;
}

.card-item__name {
   font-size: var(--font-medium);
   font-weight: 700;
}

.card-item__price {
   font-size: var(--font-small);
}

.card-item__promo {
   font-size: var(--font-xmall);
   color: var(--secondary-solid);
   font-weight: 700;
}

/*FOOTER*/

.footer {
   display:flex;
   flex-direction: column;
   justify-content:space-between;
   align-items:center;
   background-color: var(--dark-bg-solid);
   padding: var(--spacing-68) var(--spacing-68) var(--spacing-16) var(--spacing-68);
   clear: right;
}

.footer__copy {
   text-align: center;
}

/*ANIMATIONS */

@keyframes fade {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/*ITEM*/
.item_container {
   display: grid;
   grid-template-columns: 1fr 1fr;  
}

.item_info_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: var(--spacing-28);
   font-size: 1.2rem
}

.item_subtitle {
   font-weight: bold;
   font-size: 46px;
}

.item_add_cart_btn {
   background-color: var(--primary-solid);
   color: white;
   padding: 8px;
   font-size: 16px;
}
.numeric-input {
   display: flex;
   align-items: center;
}
.item_promo {
   color: #1D84B5;
}
.item_precio {
   font-size: 24px;
}
.item_number {
   padding: 8px;
   margin-right: 16px;
}

/*SHOP*/
.shop-container {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   gap: 20px;
}
.search-content {
   font-size: 14px;
   font-weight: bold;
}
.min-max-content {
   font-size: 12px;
   font-weight: bold;
}
.new-content {
   font-size: 11px;
   font-weight: bold;
}
.container-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
.shop-column {
   grid-column: 3; 
   display:flex;
   align-items: center;
}

.filter{
   margin-top:25%;
   display:flex;
   flex-direction:column;
   gap: 20px
}

.price{
   display:flex;
   align-items: center;
   justify-content:space-between;
   gap:5px;
   padding-top:3%
}

.price input{
   text-align:center
}

.filtros{
   display:flex;
   flex-direction: column;
   gap: 5px;
   padding:3%
}

.filtros label{
   display:flex;
   align-items: center;
   gap:5px
}

/*CARRITO*/

.body-cart{
   padding-bottom: 15%
}

.tab-header{
   display:flex;
   justify-content: space-between;
   padding: 15px 100px;
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
   border-radius: 10px
}

.items{
   display:flex;
   flex-direction: column; 
   gap: 20px;
}

.tab-item{
   display:flex;
   justify-content: space-between;
   padding: 20px 15px 20px 15px;
   margin:2%; 
   align-items: center;
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-radius: 15px
}

.cart-title{
   width:30.7%;
   padding-bottom:5px;
   border-bottom: 4px solid var(--primary-solid);
   font-size: 2rem;
   margin: 5% 0 0 7%;
}


.cart-container {
   width:100%;
   padding: 2% 5%;
}

 .cart-table {
   width: 100%; 
   display:flex;
   flex-direction: column;
   gap: 20px;
 }

 .t-head{
   margin-bottom: 0%; 
   display:flex;
   justify-content: space-between;
   padding: 15px;
   margin:0 2%; 
   align-items: center;
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px
 }

 .cart-item{
   width: 400px;
   display:flex;
   align-items:center;
   gap:5px;
   font-size: 3rem;
 }

 .cart-info{
   text-align: left;
   display:flex;
   flex-direction:column;
   gap:10px;
   font-size: 1.3rem;
 }

 .cart-cant{
   display:flex;
   justify-content: center
 }

 .cart-cant input{
   width:25%;
   text-align: center;
    
 }

 .cart-picture {
   height: 118px;
   width: auto;
   float: left;
 }


.resumen-container {
   width: 600px;
   margin: 1% 7% 5% 0;
   float:right;
   font-size: 1.5rem
 }
 
.contenedor-resumen{
   margin: 0 7%;
   text-align: right;
}
.resumen-title{
   display: inline-block;
   border-bottom: 4px solid var(--primary-solid);
   margin-bottom: 10px;
   font-weight: bold;
   padding-bottom:5px;
   font-size: 2rem;
 }
 
 .resumen-columnas {
   display:flex;
   flex-direction:column;
   gap:10px;
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 5%;
 }
 
 .resumen-fila {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
 }
 
 .resumen-linea-roja {
   border-top: 2px solid var(--primary-solid);;
   width: 100%;
   margin: 10px 0;
 }
 
 .ir-a-pagar {
   background-color: var(--primary-solid);;
   color: white;
   padding: 10px 0; 
   border: none;
   cursor: pointer;
   margin-top: 10px;
   width: 100%;
   box-sizing: border-box;
   font-size:1.5rem
 }

 .icon-eliminar i{
   font-size: 20px;
   color:var(--primary-solid);
}
 
 .clearfix::after {
   content: "";
   display: table;
   clear: both;
 }

/*  LOGIN  */

.body-login{
   display:flex;
   flex-direction:column;
   align-items:center;
}

.login-container{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content: center !important;
   gap: 40px;
   margin: 10%
}

.form{
   display:flex;
   flex-direction: column;
   text-align:center;
   gap: 35px;
   font-size: 1.5rem;
}
 
.form label{
   display:flex; 
   align-items: center;
   justify-content: space-between !important;

}

.form input{
   border:none;
   border-bottom: 3px solid var(--primary-solid);
   width:75%;
   &:focus {
      outline: none;
   }
   &:active {
      outline: none; 
   }
}

form{
   width:100%
}

.btn-login, .checkbox{
   display:flex;
   align-items: center !important;
   justify-content: center;
}

.btn-login{
   gap: 20px;
}

.btn-login button{
   background-color: var(--primary-solid);;
   color: white;
   padding: 10px 0; 
   border: none;
   cursor: pointer;
   width: 30%;
   box-sizing: border-box;
   font-size:1.5rem;
}

.login-title{
   font-weight: bold;
   font-size: 4rem;
}

/* ADMIN */

.container-chico{
   display:flex;
   flex-direction:column;
   gap: 30px;
   margin-top:3%
}

.op{
   width:85%;
   display:flex;
   align-items: center;
   justify-content: space-between
}

.icon-search, .icon-remove img,.icon-pencil img{
   border:none;
   background: none;
   width:25px
}

.search{
   display:flex;
   align-items:center; 
   gap: 10px
}

.tabla-list{
   
   flex-direction: column;
   justify-content: center;
   padding: 0 3% 3% 3%
}

.tabla-list tr{
   text-align:left
}

.tabla-list td, .tabla-list th{
   width:150px
}

.admin-title{
   font-size: 3rem
}



/* EDIT */

.body-edit{
   padding: 2% 5%
}

.container-edit{
   display:flex;
   flex-direction: column;
   margin-top: 2%;  
}

.form-edit{
   display:flex;
   flex-direction: column;
   gap:30px;
   font-size: 1.5rem;
}

.form-edit div{
   display:flex;
   gap: 20px
}

.form-edit input{
   border:none;
   border-bottom: 3px solid var(--primary-solid);
   &:focus {
      outline: none;
   }
   &:active {
      outline: none; 
   }
}

textarea{
   width:100%
}

.deta{
   display:flex;
   justify-content: space-between;  
}

.deta input{
   width:40%;
   text-align: center;
}

.btn-edit input{
   background-color: var(--primary-solid);;
   color: white;
   padding: 10px 0; 
   border: none;
   cursor: pointer;
   width: 30%;
   box-sizing: border-box;
   font-size:1.5rem;
}

.img-edit{
   display:flex;
   flex-direction: column
}

.img-edit p{
   border-top: 1px solid var(--primary-solid);
   padding-top: 3%;
   text-align:center;
   font-size: 1.5rem
}

